<!-- Page Heading -->
<p class="mb-4">This dashboard is a dynamic tool used to visualize, analyze, and interpret data in a clear and actionable way. In a world where data is abundant and complex, a data analytics dashboard acts as a central hub that condenses diverse datasets into comprehensible, insightful visual representations.
    <br>
    The dataset we have used is the <strong>Threads Review</strong> dataset from Kaggle. A table of ratings and reviews for the Threads app from Meta (Facebook) after its release. <a
        target="_blank" href="https://www.kaggle.com/datasets/jayagopal20/threads-app-reviews-dataset">The dataset is available here</a>.
</p>

<!-- Content Row -->

<div class="row" style="justify-content: space-between;">
    
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">App Ratings Donut Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="myPieChart-ThreadsRatings"></canvas>
                </div>
                <hr>
                In <strong style="color: #58D68D">GREEN</strong>, 5-star ratings from app users. And in <strong style="color: #D98880">RED</strong>, 1-star ratings from app users.
                <br>
                <code><a href="/threads">See full Threads dataset</a></code> file.
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4" style="padding: 0.5rem;">
        <p><strong>Donut charts</strong> are a useful way to visualize how a whole (in this case, the total number of reviews) is distributed among its parts (the different star ratings and sources). They are especially effective for showing the relative proportions of categories within a dataset. </p>
        <hr>
        <p>
            In the <strong>Ratings</strong> example, you can quickly see that the majority of reviews are in the "5-stars" and "1-star" categories, with the donut chart providing a visual representation of the distribution of customer ratings for the product.
        </p>
        <p>
            In the <strong>Review Source</strong> example, you can quickly see that the majority of reviews are from the "Google Play" and a small amount from the "App Store" category. It can also be inferred that there are less reviews coming from iPhone users than Android users.
        </p>
    </div>

    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Review Source Donut Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="myPieChart-ThreadsSources"></canvas>
                </div>
                <hr>
                In <strong style="color: #58D68D">GREEN</strong>, all users from App Store that have left a review. And in <strong style="color: #3498DB">BLUE</strong>, all users from Google Play that have left a review.
                <br>
                <code><a href="/threads">See full Threads dataset</a></code> file.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Word Cloud</h6>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;"
                    src="img/word-cloud.png" alt="...">
            </div>
            <p>
            This visual representation illustrates the most frequently mentioned words within the reviews, reflecting the app's notable attributes and associations. </p>
            <ul>

            <li>"App" stands out as the central keyword, indicating that many reviews discuss the application itself.</li>

            <li>"Good" and "bad" appear as contrasting terms, suggesting that reviewers have diverse opinions about the app's performance and quality.</li>

            <li>"Twitter" likely points to the app's integration with the popular social media platform, indicating its relevance.</li>

            <li>"Elon" may be referring to Elon Musk, a prominent figure associated with the app. This suggests that reviews may mention him in the context of discussions about Threads.</li>
            </ul>


            <p>

            In this word cloud, the size of each word corresponds to its frequency in the reviews, providing a visual summary of the key themes and sentiments expressed by users regarding the Threads app, its quality, and its associations with Twitter and Elon Musk.
            </p>
            <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                unDraw &rarr;</a>
        </div>
    </div>

    
</div>
