
<!-- Content Row -->
<div class="row">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            
            <h3 class="h3 mb-2 text-gray-800">Sample Projects</h3>
            <h6 class="m-0 font-weight-bold text-primary">MallCustomers Dataset</h6>
        </div>
        <div class="card-body">
            
            <p>
            Here, we illustrate a sample project of performing K-Means clustering on <b>mallcustomers </b> dataset using Python. <br>
            The <b>mallcustomers</b> dataset contains the information of mall customers with fields CustomerID,Genre,Age,Annual Income (k$) and Spending Score (1-100). <br>
            Performing K-means clustering on the given dataset ensures 6 clusters based on two features which are Annual Income (k$) and Spending Score (1-100). Here, the optimal number of clusters is determined by using Elbow Method.  </p>
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                    src="img/elbowmethod.png" alt="...">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                    src="img/kmeans_malldata.png" alt="...">
                    <br>
                

            </div>
            
            
            <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                unDraw &rarr;</a>
        </div>
    </div>
</div>