<!-- Page Heading -->
<p class="mb-4">Chart.js is a third party plugin that is used to generate the charts in this theme.
    The charts below have been customized - for further customization options, please visit the <a
        target="_blank" href="https://www.chartjs.org/docs/latest/">official Chart.js
        documentation</a>.
</p>

<!-- Content Row -->
<div class="row">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Dashboard content1 - (GEM)</h6>
        </div>
        <div class="card-body">
            <div class="text-center">
                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 40rem;"
                    src="img/word-cloud.png" alt="...">
            </div>
            <p>
            This visual representation illustrates the most frequently mentioned words within the reviews, reflecting the app's notable attributes and associations. </p>
            <ul>

            <li>"App" stands out as the central keyword, indicating that many reviews discuss the application itself.</li>

            <li>"Good" and "bad" appear as contrasting terms, suggesting that reviewers have diverse opinions about the app's performance and quality.</li>

            <li>"Twitter" likely points to the app's integration with the popular social media platform, indicating its relevance.</li>

            <li>"Elon" may be referring to Elon Musk, a prominent figure associated with the app. This suggests that reviews may mention him in the context of discussions about Threads.</li>
            </ul>


            <p>

            In this word cloud, the size of each word corresponds to its frequency in the reviews, providing a visual summary of the key themes and sentiments expressed by users regarding the Threads app, its quality, and its associations with Twitter and Elon Musk.
            </p>
            <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                unDraw &rarr;</a>
        </div>
    </div>
</div>
