
<!-- Content Row -->
<div class="row">

    <div class="card shadow mb-4" id="top">
        <div class="card-header py-3">
            
            
            <h6 class="m-0 font-weight-bold text-primary">The Project</h6>
        </div>
        <div class="card-body">
            <section class="project-head">
                <div class="column-info">
                    <div class="row">
                        <div class="column">
                            <br><br><br>
                            <h1>Quartana: Sentiment Analysis</h1>
                            <p>
                                Quartana is a project that analyses person's sentiment to provide valuable insights into
                                customer opinions and feedback from a wide range of reviews. By applying machine
                                learning,
                                it analyzes the sentiment expressed in the reviews and group them based on similarities.
                                This will help to identify patterns and trends in customer sentiment, enabling better
                                decision-making and improving customer satisfaction. This approach has the potential to
                                significantly enhance global businesses by providing them with a more profound
                                understanding
                                of customer preferences and desires.
                            </p>
                        </div>
                        <div class="column-img">
                            <img src="img/sentiment-analysis3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-details">
                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Sentiment <br>Analysis</p>
                        </div>
                        <div class="column-back">
                            <p>Sentiment <br>Analysis</p>
                        </div>
                    </div>
                </div>

                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Decision <br>Making</p>
                        </div>
                        <div class="column-back">
                            <p>Decision <br>Making</p>
                        </div>
                    </div>
                </div>

                <div class="column-p">
                    <div class="column-front">
                        <img src="img/logo1.png" alt="Avatar" id="img-logo">
                    </div>
                    <div class="column-back">
                    </div>
                </div>


                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Intelligent <br>Learning</p>
                        </div>
                        <div class="column-back">
                            <p>Intelligent <br>Learning</p>
                        </div>
                    </div>
                </div>

                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Data <br> Analysis</p>
                        </div>
                        <div class="column-back">
                            <p>Data <br> Analysis</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="project-info">

                <div class="column-info">
                    <div class="row">
                        <div class="column">
                            <img src="img/sentiment-analysis2.jpg" alt="">
                        </div>
                        <div class="column" id="par">
                            <br><br><br>
                            <h1>Sentiment Analysis</h1>
                            <p>
                                Sentiment analysis, also known as opinion mining, is a valuable technique that can be
                                applied to analyze customer opinions and feedback gathered from various sources, such as
                                product reviews, social media comments, surveys, and more. By performing sentiment
                                analysis, businesses and organizations can gain valuable insights that help in various
                                aspects, including product development, customer satisfaction, and brand reputation
                                management. Here's how you can develop sentiment analysis:
                            </p>
                        </div>
                    </div>
                </div>
                <div class="column-info">
                    <div class="row">
                        <div class="column" id="par">
                            <br><br><br>
                            <h1> Decision-Making </h1>
                            <p>
                                The implementation of sentiment analysis empowers us to decode the complex landscape of
                                customer sentiment. Through the identification of patterns and trends, we can make
                                data-driven decisions that lead to enhanced customer satisfaction, greater customer
                                loyalty, and the continuous improvement of our products and services. This approach
                                positions for sustainable growth and success in the marketplace.
                            </p>
                        </div>
                        <div class="column">
                            <img src="img/decision-making1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="column-info">
                    <div class="row">
                        <div class="column">
                            <img src="img/e-learning1.jpg" alt="">
                        </div>
                        <div class="column" id="par">
                            <br><br><br>
                            <h1> Intelligent Learning</h1>
                            <p>
                                Integrating machine learning into sentiment analysis enhances its capabilities and
                                accuracy. By combining advanced algorithms, feature engineering, and real-time analysis,
                                we can unlock the full potential of sentiment analysis across various domains, from
                                e-commerce and social media to healthcare and finance. This technology offers a deeper
                                understanding of public opinion and empowers data-driven decision-making.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column-info">
                    <div class="row">
                        <div class="column" id="par">
                            <br><br><br>
                            <h1> Data Analysis</h1>
                            <p>
                                Analyze how sentiments change over time or in response to specific events. This can help
                                identify critical moments that influenced public opinion. Build interactive dashboards
                                that allow users to explore and interact with sentiment data visually. Categorize
                                data by source (e.g., different social media platforms) or category (e.g., product
                                types, service areas) and analyze sentiment patterns. This can help identify areas that
                                need improvement or specific sources with consistent sentiment.
                            </p>
                        </div>
                        <div class="column">
                            <img src="img/data-analysis1.jpg" alt="">
                        </div>
                    </div>
                </div>


            </section>

        </div>


    </div>
</div>