<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">The Team</h6>
 <style>
        /* CSS for testimonials */
        .testimonials {
            display: flex;
            justify-content: space-between;
        }

        .testimonial {
            width: 23%;
            padding: 20px;
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
        }

        .testimonial p {
            font-style: italic;
        }
    </style>
        </div>
        <div class="card-body">
            
    <div class="testimonials">
        <div class="testimonial">
            <ul>
  <li>Tech Lead </li>
  <li>Full stack Dev </li>
  <li>Data Science Engineer</li>
</ul>
            <p><strong>Gem Robino</strong></p>
        </div>

        <div class="testimonial">
             <ul>
  <li>Web Developer</li>
  <li>.Data Scientist </li>
  </ul
            <p><strong>Mahima Gautam</strong></p>
        </div>

        <div class="testimonial">
     <ul>
  <li>UI/UX Developer</li>
  <li>Full stack Dev </li>
 </ul?
            <p><strong>Ursulla Arivola</strong></p>
        </div>

        <div class="testimonial">
            <ul>
  <li>UI/UX Designer</li>
  <li>Web Developer</li>
  <li>Test Analyst</li>
</ul>
            <p><strong>Nikita Gaba</strong></p>
        </div>
    </div>
        </div>
    </div>
</div>
