<div class="row">

    <div class="card shadow mb-4">
            
            <div class="card-header py-3">
            
                <h3 class="h3 mb-2 text-gray-800"></h3>
                <h6 class="m-0 font-weight-bold text-primary">GEM ROBINO</h6>
            </div>
            <div class="card-body">
            
                <p>
                    Hi I am  Gem Robino a skilled professional with a versatile skill set. 
                    With expertise in full-stack development and data science engineering, 
                    Gem excels in creating end-to-end solutions. Furthermore, 
                    Gem's leadership abilities as a team lead enable them to guide and inspire teams, 
                    ensuring successful project outcomes.
                </p>
              
<div class="row">

    <div class="card shadow mb-4">
            
            <div class="card-header py-3">
            
                <h6 class="m-0 font-weight-bold text-primary">Mahima Gautam</h6>
            </div>
            <div class="card-body">
            
                    <ul>
                        <li>Web Developer</li>
                        <li>Data Scientist </li>
                    </ul>
</div>


<div class="row">

    <div class="card shadow mb-4">
            
            <div class="card-header py-3">
            
                <h6 class="m-0 font-weight-bold text-primary">Ursulla Arivola</h6>
            </div>
            <div class="card-body">
            
                    <ul>
                        <li>UI/UX Developer</li>
                        <li>Full stack Dev </li>
                    </ul>
</div>


<div class="row">

    <div class="card shadow mb-4">
            
            <div class="card-header py-3">
            
                <h6 class="m-0 font-weight-bold text-primary">Nikita Gaba</h6>
            </div>
            <div class="card-body">
            <ul>
                        <li>UI/UX Designer</li>
                        <li>Web Developer</li>
                        <li>Test Analyst</li>
                      </ul>
</div>



