<div class="row">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">The Project</h6>
        </div>


        <div class="card-body">
            <section class="project-details">

                <!-- <div class="column">
                    <div class="card-p">
                        <p>Sentiment Analysis</p>
                    </div>
                </div> -->

                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Sentiment <br>Analysis</p>
                        </div>
                        <div class="column-back">
                            <p>Architect & Engineer</p>
                        </div>
                    </div>
                </div>

                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Decision <br>Making</p>
                        </div>
                        <div class="column-back">
                            <p>Architect & Engineer</p>
                        </div>
                    </div>
                </div>

                <div class="column-p">
                    <div class="column-front">
                        <img src="img/logo1.png" alt="Avatar" id="img-logo">
                    </div>
                    <div class="column-back">
                        <p>We love that guy</p>
                    </div>
                </div>


                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Intelligent <br>Learning</p>
                        </div>
                        <div class="column-back">
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

                <div class="column-p">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Data <br> Analysis</p>
                        </div>
                        <div class="column-back">
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>


            </section>
            <section class="project-info">
                <div class="column-info">
                    <div class="sentiment-analysis">
                        <div class="s-a-p">
                            <p>
                                Sentiment Analysis
                            </p>
                        </div>
                        <div class="s-a-i">
                            <img src="img/sentiment-analysis2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="column-info">
                    <div class="decision-making">
                        <div class="d-m-p">
                            <p>
                                Decision-Making
                            </p>
                        </div>
                        <div class="d-m-i">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>
                <div class="column-info">
                    <div class="intelligent-learning">
                        <div class="i-l-p">
                            <p>
                                Intelligent Learning
                            </p>
                        </div>
                        <div class="i-l-i">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>

                <div class="column-info">
                    <div class="data-analysis">
                        <div class="d-a-p">
                            <p>
                                Data Analysis
                            </p>
                        </div>
                        <div class="d-a-i">
                            <img src="" alt="">
                        </div>
                    </div>
                </div>


            </section>

        </div>


    </div>
</div>