 <div class="card-container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gem Robino</h6>
            </div>
            <div class="card-body">
                <p><strong>Team Lead</strong></p>
                <ul>
                    <li>Tech Lead</li>
                    <li>Full stack Dev</li>
                    <li>Data Science Engineer</li>
                </ul>
  
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Mahima Gautam</h6>
            </div>
            <div class="card-body">
                <ul>
                    <li>Web Developer</li>
                    <li>Data Scientist</li>
                </ul>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Ursulla Arivola</h6>
            </div>
            <div class="card-body">
                <ul>
                    <li>UI/UX Developer</li>
                    <li>Full stack Dev</li>
                </ul>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Nikita Gaba</h6>
            </div>
            <div class="card-body">
                <ul>
                    <li>UI/UX Designer</li>
                    <li>Web Developer</li>
                    <li>Test Analyst</li>
                </ul>
            </div>
        </div>
    </div>
