<div class="row">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">The Project</h6>
        </div>


        <div class="card-body">
            <section class="project-details">

                <!-- <div class="column">
                    <div class="card-p">
                        <p>Sentiment Analysis</p>
                    </div>
                </div> -->

                <div class="column">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Sentiment <br>Analysis</p>
                        </div>
                        <div class="column-back">
                            <p>Architect & Engineer</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Decision- <br>Making</p>
                        </div>
                        <div class="column-back">
                            <p>Architect & Engineer</p>
                        </div>
                    </div>
                </div>

                <div class="column">

                    <div class="column-front">
                        <img src="img/logo1.png" alt="Avatar" class="img-logo">
                    </div>
                    <div class="column-back">
                        <p>We love that guy</p>
                    </div>

                </div>


                <div class="column">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>E- <br>Learning</p>
                        </div>
                        <div class="column-back">
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="column-inner">
                        <div class="column-front">
                            <p>Data <br> Analysis</p>
                        </div>
                        <div class="column-back">
                            <p>We love that guy</p>
                        </div>
                    </div>
                </div>


            </section>

        </div>


    </div>
</div>