<div class="row">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">The Project - (URSULLA)</h6>
        </div>

        <div class="card-body">
            <section class="project-details">

                <div class="column">
                    <div class="card-p">
                        <p>Sentiment Analysis</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card-p">
                        <p>Decision-Making</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card-p" id="img-p">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="img/logo1.png"
                            alt="...">
                    </div>
                </div>
                <div class="column">
                    <div class="card-p">
                        <p>E-Learning</p>
                    </div>
                </div>
                <div class="column">
                    <div class="card-p">
                        <p>Data Analysis</p>
                    </div>
                </div>
            </section>
            <div class="info">
                <p>Quartana is an application of sentiment analysis on dataset to provide valuable insights into
                    customer
                    opinions and feedback from a wide range of reviews. By applying different algorithm, it analyzes
                    the
                    sentiment expressed in the reviews and group them based on similarities. This help identifying
                    patterns
                    and trends in customer sentiment, enabling better decision-making and improving customer
                    satisfaction.
                </p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                    unDraw &rarr;</a>
            </div>
        </div>


    </div>
</div>