/* Réinitialisation des marges et des rembourrages */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la section */
.project-details {
    display: flex;
    /* Utilisation de Flexbox pour les colonnes */
    justify-content: space-between;
    /* Espace égal entre les colonnes */
    height: 210px;
    border: 0px solid #f1f1f1;
    perspective: 1000px;
    /* Couleur d'arrière-plan de la section */
    padding: 0px;
    /* Espace intérieur de la section */
}

/* Style des colonnes */
/* .column {
    flex-basis: 100%;

    padding: 40px;

    background-color: #49707A;
    border: 0px solid #ccc;
    text-align: center;
} */

.column-p {
    background-color: #3f7d94d2;
    width: 300px;
    height: 200px;
    border: 0px solid #f1f1f1;
    perspective: 1000px;
    padding: 0px;

    /* Remove this if you don't want the 3D effect */
}





.column-front p {
    padding: 0px;
    font-size: 30px;
    /* Taille de la police pour le texte */
    font-family: cursive;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    text-shadow: 8px 10px 10px #e4e00d36;
}

.column-back p {
    padding: 0px;
    font-size: 30px;
    /* Taille de la police pour le texte */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    width: 200px;
    height: 200px;
    text-shadow: 8px 10px 10px #e4e00d36;

}



/* Style du contenu dans les colonnes */

.info p {
    padding: 30px;
    font-size: 30px;
    /* Taille de la police pour le texte */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */


/* This container is needed to position the front and back side */
.column-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

#img-logo {
    position: relative;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    height: 175px;
    width: 175px;
    padding-top: 20px;
}

#img-logo:hover {
    transform: rotateY(180deg);
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.column-p:hover .column-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.column-front,
.column-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */
.column-front {
    color: black;
    text-align: center;
}

/* Style the back side */
.column-back {
    color: white;
    transform: rotateY(180deg);
    text-align: center;
}

.project-info {
    margin: 20px;
    padding: 20px;
}

.column-info {
    width: fit-content;
    margin: 10px;
}

.column-info .row {
    display: flex;

}

.column-info .row .column {
    display: inline;
    justify-content: space-between;
    width: 700px;
    text-align: justify;
    padding-left: 50px;

}


.column-info .column img {
    width: 600px;
    height: 400px;
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
    transform-style: preserve-3d;

}

.column-info .column img:hover {
    width: 620px;
    height: 420px;
    padding-left: 30px;
    padding-right: 30px;

}

.column-info h1 {
    color: black;
    text-shadow: 8px 10px 10px #00000033;
}

.column-info p {
    margin: 20px;

}


.project-head {
    margin: 20px;
    padding: 20px;
}

.project-head .row .column {
    justify-content: space-between;
    padding: 30px;
}

.project-head img {
    width: 700px;
    height: 400px;
}